In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [3]:
churn_dataset = pd.read_csv('telecom_churn (1).csv')

In [4]:
churn_dataset.head()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,1,2.7,1,265.1,110,89.0,9.87,10.0
1,0,107,1,1,3.7,1,161.6,123,82.0,9.78,13.7
2,0,137,1,0,0.0,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0,0.0,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0,0.0,3,166.7,113,41.0,7.42,10.1

In [5]:
churn_dataset.shape

(3333, 11)

In [6]:
churn_dataset.describe()

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,0.144914,101.064806,0.903090,0.276628,0.816475,1.562856,179.775098,100.435644,56.305161,10.051488,10.237294
std,0.352067,39.822106,0.295879,0.447398,1.272668,1.315491,54.467389,20.069084,16.426032,2.535712,2.791840
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000
25%,0.000000,74.000000,1.000000,0.000000,0.000000,1.000000,143.700000,87.000000,45.000000,8.330000,8.500000
50%,0.000000,101.000000,1.000000,0.000000,0.000000,1.000000,179.400000,101.000000,53.500000,10.070000,10.300000
75%,0.000000,127.000000,1.000000,1.000000,1.780000,2.000000,216.400000,114.000000,66.200000,11.770000,12.100000
max,1.000000,243.000000,1.000000,1.000000,5.400000,9.000000,350.800000,165.000000,111.300000,18.190000,20.000000

In [7]:
churn_dataset['Churn'].value_counts()

0    2850
1     483
Name: Churn, dtype: int64

In [23]:
churn_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Churn            3333 non-null   int64
 1   AccountWeeks     3333 non-null   int64
 2   ContractRenewal  3333 non-null   int64
 3   DataPlan         3333 non-null   int64
 4   DataUsage        3333 non-null   float64
 5   CustServCalls    3333 non-null   int64
 6   DayMins          3333 non-null   float64
 7   DayCalls         3333 non-null   int64
 8   MonthlyCharge    3333 non-null   float64
 9   OverageFee       3333 non-null   float64
 10  RoamMins         3333 non-null   float64
dtypes: float64(5), int64(6)
memory usage: 286.6 KB

In [24]:
# Checking the number of missing values
churn_dataset.isnull().sum()

Churn              0
AccountWeeks       0
ContractRenewal    0
DataPlan           0
DataUsage          0
CustServCalls      0
DayMins            0
DayCalls           0
MonthlyCharge      0
OverageFee         0
RoamMins           0
dtype: int64

In [25]:
churn_dataset.groupby('Churn').mean()

,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
Churn,,,,,,,,,,
0,100.793684,0.934737,0.295439,0.862151,1.449825,175.175754,100.283158,55.816246,9.954618,10.158877
1,102.664596,0.716356,0.165631,0.546957,2.229814,206.914079,101.335404,59.190062,10.623085,10.700000

In [26]:
# separating the data and labels
x = churn_dataset.drop(columns = 'Churn', axis=1)
y = churn_dataset['Churn']

In [27]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: Churn, Length: 3333, dtype: int64

In [28]:
scaler = StandardScaler()

In [29]:
scaler.fit(x)

StandardScaler()

In [30]:
standardized_data = scaler.transform(x)

In [31]:
print(standardized_data)

[[ 0.67648946  0.32758048  1.6170861  ...  1.99072703 -0.0715836
  -0.08500823]
 [ 0.14906505  0.32758048  1.6170861  ...  1.56451025 -0.10708191
   1.24048169]
 [ 0.9025285   0.32758048 -0.61839626 ... -0.26213309 -1.57434567
   0.70312091]
 ...
 [-1.83505538  0.32758048 -0.61839626 ... -0.01858065  1.73094204
   1.3837779 ]
 [ 2.08295458 -3.05268496 -0.61839626 ... -0.38390932 -0.81704825
  -1.87621082]
 [-0.67974475  0.32758048  1.6170861  ...  2.66049626  1.28129669
   1.24048169]]

In [32]:
x = standardized_data
y = churn_dataset['Churn']

In [33]:
print(x)
print(y)

[[ 0.67648946  0.32758048  1.6170861  ...  1.99072703 -0.0715836
  -0.08500823]
 [ 0.14906505  0.32758048  1.6170861  ...  1.56451025 -0.10708191
   1.24048169]
 [ 0.9025285   0.32758048 -0.61839626 ... -0.26213309 -1.57434567
   0.70312091]
 ...
 [-1.83505538  0.32758048 -0.61839626 ... -0.01858065  1.73094204
   1.3837779 ]
 [ 2.08295458 -3.05268496 -0.61839626 ... -0.38390932 -0.81704825
  -1.87621082]
 [-0.67974475  0.32758048  1.6170861  ...  2.66049626  1.28129669
   1.24048169]]
0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: Churn, Length: 3333, dtype: int64

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, stratify=y, random_state=2)

In [35]:
print(x.shape, x_train.shape, x_test.shape)

(3333, 10) (2666, 10) (667, 10)

In [36]:
classifier = svm.SVC(kernel = 'linear')

In [37]:
# traing the support vector machine classifier
classifier.fit(x_train, y_train)

SVC(kernel='linear')

In [38]:
# Accuracy Score on the training data
x_train_prediction = classifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [39]:
print('Accuracy Score of the training data : ',training_data_accuracy)

Accuracy Score of the training data :  0.8552138034508627

In [58]:
KN = KNeighborsClassifier()

In [59]:
KN.fit(x_train, y_train)

KNeighborsClassifier()

In [60]:
KN_predict = KN.predict(x_train)

In [63]:
KN_accuracy = accuracy_score(KN_predict, y_train)

In [65]:
print('Accuracy Score of the training data : ',KN_accuracy)

Accuracy Score of the training data :  0.9246061515378845

In [66]:
RF = RandomForestClassifier()

In [67]:
RF.fit(x_train, y_train)

RandomForestClassifier()

In [68]:
RF_predict = RF.predict(x_train)

In [69]:
RF_accuracy = accuracy_score(RF_predict, y_train)

In [70]:
print('Accuracy Score of the training data : ',RF_accuracy)

Accuracy Score of the training data :  1.0

In [71]:
DT = DecisionTreeClassifier()

In [72]:
DT.fit(x_train, y_train)

DecisionTreeClassifier()

In [73]:
DT_predict = DT.predict(x_train)

In [74]:
DT_accuracy = accuracy_score(DT_predict, y_train)
print('Accuracy Score of the training data : ',DT_accuracy)

Accuracy Score of the training data :  1.0

In [76]:
input_data = (128,1,1,2.7,1,265.1,110,89,9.87,10)

#changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
#std_data = scaler.transform(input_data_reshaped)

prediction = RF.predict(input_data_reshaped)
print('Your Productivity =',prediction)

Your Productivity = [0]

In [77]:
!mkdir saved_churn

In [78]:
from joblib import dump

In [80]:
dump(RF, './saved_churn/churn_model.joblib')

['./saved_churn/churn_model.joblib']